.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #52098B;
  background-image: url(../assets/images/background.png);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 214px;
  left: calc(50% - 195px);
  width: 368px;
  height: 536px;
  background-image: url(../assets/images/olympus.png);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container::after {
  content: "";
  position: absolute;
  top: 272.64px;
  left: calc(50% - 444px);
  display: block;
  width: 510.68px;
  height: 379.21px;
  background-image: url(../assets/images/fire-bowl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (min-width: 1024px) {
  .container {
    background-image: url(../assets/images/background-lg.png);
    background-size: cover;
    overflow: hidden;
  }

  .container::before {
    top: auto;
    bottom: -134px;
    left: 0;
    width: 835.28px;
    height: 1080px;
    background-image: url(../assets/images/olympus-lg.png);
  }

  .container::after {
    top: auto;
    left: -513px;
    bottom: -63.48px;
    width: 1075.32px;
    height: 798.48px;
    background-image: url(../assets/images/fire-bowl-lg.png);
  }

  .promo {
    position: relative;
  }
}
